# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# Virtual environments
.venv/
env/
venv/
ENV/
*.env
*.env.*

# Logs & debug
*.log
*.out
*.err
logs/
.DS_Store

# Jupyter
.ipynb_checkpoints
.notebook_checkpoints
*.ipynb~

# VSCode / IDEs
.vscode/
.idea/
*.swp
*.swo

# Airflow
infra/airflow/logs/
infra/airflow/__pycache__/
infra/airflow/airflow.db
infra/airflow/airflow.cfg

# Data / databases
data/
*.db
*.sqlite
*.sqlite3

# Secrets
.env
.env.local
.env.dev
.env.prod
.env.test

# R
.Rhistory
.RData
.Rproj.user/
.Ruserdata

# OS cruft
Thumbs.db
.DS_Store
